<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,100;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Drum Game</title>
</head>
<body>
    <!---Header-->
    <section class="header-descarga">
        <nav>
            <a href="index.html"> <img src="images/DrumLogoBlanco.png" alt="drum-logo"> </a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" id="times" onclick="hideMenu()"></i> 
                <ul>
                    <li><a href="Login.html">INICIAR SESIÓN</a></li>
                    <li><a href="leaderboards.html">LEADERBOARD</a></li>
                    <li><a href="https://daniumm.github.io/" target="_blank">NUESTRA API</a></li>
                    <li><a href="contacto.html">CONTACTO</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" id="bars" onclick="showMenu()"></i>
        </nav>

        <div class="text-box">
            <h1>Muchas gracias por descargar nuestro juego</h1>
            <p class="textoLanding-pc">
                La descarga comenzará en breve... <br>
                O puedes hacer click en el botón de abajo para hacerlo manualmente.
            </p>
            <p class="textoLanding-mobile">
                La descarga comenzará en breve...
                <br>
                O puedes hacer click en el botón de abajo para hacerlo manualmente.
            </p>
            <a href="" class="descarga-inline">Iniciar descarga</a>
        </div>

    </section>

</body>

</html>