{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static '../assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'images/DrumLogoBlanco.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    User Profile
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/paper-dashboard.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'assets/demo/demo.css' %}" rel="stylesheet" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">

</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="../index" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="{% static 'images/DrumLogo.png' %}">
          </div>
          <!-- <p>CT</p> -->
        </a>
        <a href="../index" class="simple-text logo-normal">
          World of Sounds
          <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="../dashboard">
              <i class="nc-icon nc-bank"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="active ">
            <a href="../dashboard/profile">
              <i class="nc-icon nc-single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="active-pro">
            <a href="{% url 'logout' %}">
              <p>Logout</p>
              <span class="material-icons-sharp">
                logout
                </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" style="height: 100vh">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">User Profile</a>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-4">
            <div class="card card-user">
              <div class="image">
                <img src="{% static 'assets/img/damir-bosnjak.jpg' %}" alt="...">
              </div>
              <div class="card-body">
                <div class="author">
                  <a href="#">
                    <img class="avatar border-gray" src="{% static 'assets/img/mike.jpg' %}" alt="...">
                    <h5 class="title">Alex</h5>
                  </a>
                  <p class="description">
                    @alex-admin
                  </p>
                </div>
                <p class="description text-center" style="padding-top: 18px;">
                  "Let's do it"
                </p>
              </div>
              <div class="card-footer">
                <hr>
                <div class="button-container">
                  <div class="row">
                    <div class="col-lg-3 col-md-6 col-6 ml-auto">
                      <h5>3<br><small>Levels</small></h5>
                    </div>
                    <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                      <h5>75<br><small>Minutes</small></h5>
                    </div>
                    <div class="col-lg-3 mr-auto">
                      <h5>6<br><small>Errors</small></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="col-md-8">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Edit Profile</h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="row" style="justify-content: center;">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Nombre de usuario</label>

                        <!----Poner disabled="" si no quiero que se modifique el input-->
                        <input type="text" class="form-control"  placeholder="usuario" value="alex-admin">
                      </div>
                    </div>
                  </div>
                  <div class="row" style="justify-content: center;">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Contraseña</label>
                        <input type="password" class="form-control" placeholder="Password" value="admin">
                      </div>
                    </div>
                  </div>
                  <div class="row" style="justify-content: center;">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Email address</label>
                        <input type="text" class="form-control" placeholder="Enter email" value="alex@siteadmin.com">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto">


                      <form id="exitForm" action="../dashboard/exit" method="POST" onsubmit="true">
                        <!--{% csrf_token %}-->
                        <input type="submit" class="btn btn-primary btn-round" value="Delete Profile"></input>
                      </form>

                      
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white" style="
      position:absolute;
      bottom:0;
      width:100%;
      height:60px;   /* Height of the footer */
      ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li><a href="https://daniumm.github.io/" target="_blank">API</a></li>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                © <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by Development Team
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <!--<script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>-->
  <!--  Notifications Plugin    -->
  <!--<script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>-->
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <!--<script src="{% static 'assets/js/paper-dashboard.min.js?v=2.0.1' %}" type="text/javascript"></script>-->
    <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <!--<script src="{% static 'assets/demo/demo.js' %}"></script>-->
</body>

</html>